.complete {
  border: solid;
  border-color: rgb(156 163 175);
  border-width: 1px;
  width: 18px;
  height: 18px;
  border-radius: 9999px;
  transition: border-image 3s;
}

.complete:hover{
   border: solid;
  border-width: 1px;
  width: 18px;
  height: 18px;
  border-image: linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%)); 
  border-image-slice: 1;
   border-radius: 9999px;
   padding: 10px;
}